# Project Summary and Objectives

## Statement of Work
This Statement of Work ("Statement of Work") is entered into as of <%= data.proposal.proposal_date %> by and between *<%= data.client.client_name %>* ("client") and Cognite Labs. This Statement of Work is intented to supplement any Master Services Agreement currently in place between *<%= data.client.client_name %>* and Cognite Labs. All definitions used and not defined herein shall have the meanings set forth in that agreement.

## Project Summary
<%= data.client.client_name %> is a <%= data.client.client_description %>.<%= data.client.client_name %> helps medium-sized to large businesses engage, grow, and monitor social media.  

You have lots of website content, including 7 posts in August. A website that is better looking and designed to engage visitors in a sales funnel will improve the effectiveness of that content.  

Great content plus promotion will help Glow attract new clients and experiment with new client retention strategies.

## Project Objectives

The core objectives of this project include:  

<ul>
	<% data.proposal.objectives.each do |p| %>
		<li><%= p %></li>
	<% end %>
</ul>
